/*---------------- Shabnam */
@font-face {
  font-family: "Shabnam";
  font-style: normal;
  font-weight: bold;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/shabnam/Shabnam-Bold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/shabnam/Shabnam-Bold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/shabnam/Shabnam-Bold.ttf")
      format("truetype");
}
@font-face {
  font-family: "Shabnam";
  font-style: normal;
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/shabnam/Shabnam-Light.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/shabnam/Shabnam-Light.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/ProgYaghouti/irfont/shabnam/Shabnam-Light.ttf")
      format("truetype");
}
@font-face {
  font-family: "Shabnam";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/shabnam/Shabnam.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/shabnam/Shabnam.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/shabnam/Shabnam.ttf")
      format("truetype");
}
/*---------------- Samim */
@font-face {
  font-family: "Samim";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/samim/Samim.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/samim/Samim.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/samim/Samim.ttf")
      format("truetype");
}
@font-face {
  font-family: "Samim";
  font-style: normal;
  font-weight: bold;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/samim/Samim-Bold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/samim/Samim-Bold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/samim/Samim-Bold.ttf")
      format("truetype");
}
/*---------------- Yekan */
@font-face {
  font-family: "Yekan";
  font-style: normal;
  font-weight: bold;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/iranYekanWebBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebBold.ttf")
      format("truetype");
}
/*---------------- IRsans */
@font-face {
  font-family: "IRsans";
  font-style: normal;
  font-weight: bold;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_Bold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_Bold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_Bold.ttf")
      format("truetype");
}
@font-face {
  font-family: "IRsans";
  font-style: normal;
  font-weight: 200;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_Light.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_Light.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_Light.ttf")
      format("truetype");
}
@font-face {
  font-family: "IRsans";
  font-style: normal;
  font-weight: 100;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_UltraLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_UltraLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_UltraLight.ttf")
      format("truetype");
}
@font-face {
  font-family: "IRsans";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb.ttf")
      format("truetype");
}
@font-face {
  font-family: "IRsans";
  font-style: normal;
  font-weight: 500;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_Medium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_Medium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_Medium.ttf")
      format("truetype");
}
@font-face {
  font-family: "IRsans";
  font-style: normal;
  font-weight: 900;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_Black.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_Black.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_Black.ttf")
      format("truetype");
}

#dce-dashboard-overview,
.redux-timer,
#redux-sub-footer,
.edit-post-fullscreen-mode-close {
  display: none !important;
}
body{
  
  font-family: 'IRsans'!important;
}

.wp-menu-name,
.button,
textarea,
[class*='overview'],
.ab-item,
.ab-label,
label,
input,
button,
p,
.wp-submenu li,
fieldset,
.contextual-help-tabs>*,
.wp-list-table>*,
ul.subsubsub {
  font-family: 'IRsans' !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IRsans' !important;
  font-weight: bold !important;
}
