/*---------------- Mikhak */
@font-face {
  font-family: "Mikhak";
  font-style: normal;
  font-weight: bold;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/mikhak/Mikhak-Bold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/mikhak/Mikhak-Bold.ttf")
      format("truetype");
}
@font-face {
  font-family: "Mikhak";
  font-style: normal;
  font-weight: 900;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/mikhak/Mikhak-Black.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/mikhak/Mikhak-Black.ttf")
      format("truetype");
}
@font-face {
  font-family: "Mikhak";
  font-style: normal;
  font-weight: 100;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/mikhak/Mikhak-Thin.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/mikhak/Mikhak-Thin.ttf")
      format("truetype");
}
@font-face {
  font-family: "Mikhak";
  font-style: normal;
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/mikhak/Mikhak-Light.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/mikhak/Mikhak-Light.ttf")
      format("truetype");
}
/*---------------- Shabnam */
@font-face {
  font-family: "Shabnam";
  font-style: normal;
  font-weight: bold;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/shabnam/Shabnam-Bold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/shabnam/Shabnam-Bold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/shabnam/Shabnam-Bold.ttf")
      format("truetype");
}
@font-face {
  font-family: "Shabnam";
  font-style: normal;
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/shabnam/Shabnam-Light.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/shabnam/Shabnam-Light.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/ProgYaghouti/irfont/shabnam/Shabnam-Light.ttf")
      format("truetype");
}
@font-face {
  font-family: "Shabnam";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/shabnam/Shabnam.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/shabnam/Shabnam.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/shabnam/Shabnam.ttf")
      format("truetype");
}
/*----------------  Vazir */
@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/vazir/Vazir.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/vazir/Vazir.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/vazir/Vazir.ttf")
      format("truetype");
}
@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: bold;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/vazir/Vazir-Bold.eot");
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/vazir/Vazir-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/vazir/Vazir-Bold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/vazir/Vazir-Bold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/vazir/Vazir-Bold.ttf")
      format("truetype");
}
@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/vazir/Vazir-Light.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/vazir/Vazir-Light.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/vazir/Vazir-Light.ttf")
      format("truetype");
}
@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 500;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/vazir/Vazir-Medium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/vazir/Vazir-Medium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/vazir/Vazir-Medium.ttf")
      format("truetype");
}
@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 100;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/vazir/Vazir-Thin.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/vazir/Vazir-Thin.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/vazir/Vazir-Thin.ttf")
      format("truetype");
}
/*---------------- Samim */
@font-face {
  font-family: "Samim";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/samim/Samim.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/samim/Samim.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/samim/Samim.ttf")
      format("truetype");
}
@font-face {
  font-family: "Samim";
  font-style: normal;
  font-weight: bold;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/samim/Samim-Bold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/samim/Samim-Bold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/samim/Samim-Bold.ttf")
      format("truetype");
}
/*---------------- Yekan */
@font-face {
  font-family: "Yekan";
  font-style: normal;
  font-weight: bold;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/iranYekanWebBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebBold.ttf")
      format("truetype");
}

@font-face {
  font-family: "Yekan";
  font-style: normal;
  font-weight: 100;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebThin.eot");
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebThin.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebThin.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebThin.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebThin.ttf")
      format("truetype");
}

@font-face {
  font-family: "Yekan";
  font-style: normal;
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebLight.ttf")
      format("truetype");
}

@font-face {
  font-family: "Yekan";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebRegular.eot");
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebRegular.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebRegular.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebRegular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebRegular.ttf")
      format("truetype");
}

@font-face {
  font-family: "Yekan";
  font-style: normal;
  font-weight: 500;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebMedium.eot");
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebMedium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebMedium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebMedium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebMedium.ttf")
      format("truetype");
}

@font-face {
  font-family: "Yekan";
  font-style: normal;
  font-weight: 800;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebExtraBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebExtraBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebExtraBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebExtraBold.ttf")
      format("truetype");
}

@font-face {
  font-family: "Yekan";
  font-style: normal;
  font-weight: 850;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebBlack.eot");
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebBlack.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebBlack.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebBlack.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebBlack.ttf")
      format("truetype");
}

@font-face {
  font-family: "Yekan";
  font-style: normal;
  font-weight: 900;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebExtraBlack.eot");
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebExtraBlack.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebExtraBlack.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebExtraBlack.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/yekan/IRANYekanWebExtraBlack.ttf")
      format("truetype");
}
/*---------------- IRsans */
@font-face {
  font-family: "IRsans";
  font-style: normal;
  font-weight: bold;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_Bold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_Bold.Woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_Bold.ttf")
      format("truetype");
}
@font-face {
  font-family: "IRsans";
  font-style: normal;
  font-weight: 200;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_Light.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_Light.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_Light.ttf")
      format("truetype");
}
@font-face {
  font-family: "IRsans";
  font-style: normal;
  font-weight: 100;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_UltraLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_UltraLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_UltraLight.ttf")
      format("truetype");
}
@font-face {
  font-family: "IRsans";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb.ttf")
      format("truetype");
}
@font-face {
  font-family: "IRsans";
  font-style: normal;
  font-weight: 500;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_Medium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_Medium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_Medium.ttf")
      format("truetype");
}
@font-face {
  font-family: "IRsans";
  font-style: normal;
  font-weight: 900;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_Black.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_Black.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/iran-s/IRANSansWeb_Black.ttf")
      format("truetype");
}
/*---------------- Aviny */
@font-face {
  font-family: "Aviny";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/aviny/aviny-web.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/aviny/aviny-web.woff")
      format("woff");
}
/*---------------- Maneli */
@font-face {
  font-family: "Maneli";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/maneli/Maneli.ttf")
    format("truetype");
}
/*---------------- Pelak */
@font-face {
  font-family: "Pelak";
  font-style: normal;
  font-weight: 900;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-Black.eot");
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-Black.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-Black.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-Black.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-Black.ttf")
      format("truetype");
}
@font-face {
  font-family: "Pelak";
  font-style: normal;
  font-weight: bold;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-Bold.eot");
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-Bold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-Bold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-Bold.ttf")
      format("truetype");
}
@font-face {
  font-family: "Pelak";
  font-style: normal;
  font-weight: 100;

  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-Thin.eot");
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-Thin.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-Thin.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-Thin.ttf")
      format("truetype");
}
@font-face {
  font-family: "Pelak";
  font-style: normal;
  font-weight: 600;

  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-SemiBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-SemiBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-SemiBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-SemiBold.ttf")
      format("truetype");
}
@font-face {
  font-family: "Pelak";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-Regular.eot");
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-Regular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-Regular.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-Regular.ttf")
      format("truetype");
}
@font-face {
  font-family: "Pelak";
  font-style: normal;
  font-weight: 800;

  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-ExtraBold.ttf.eot");
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-ExtraBold.ttf.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-ExtraBold.ttf.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-ExtraBold.ttf.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-ExtraBold.ttf.ttf")
      format("truetype");
}
@font-face {
  font-family: "Pelak";
  font-style: normal;
  font-weight: 200;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-light.ttf")
    format("truetype");

  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-light.eot");
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-light.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-light.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-light.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-light.ttf")
      format("truetype");
}
@font-face {
  font-family: "Pelak";
  font-style: normal;
  font-weight: 500;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-Medium.eot");
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-Medium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-Medium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/pelak/PelakFA-Medium.ttf")
      format("truetype");
}
/*---------------- Vanda */
@font-face {
  font-family: "Vanda";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/vanda/Vandafanum-Regular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/vanda/Vandafanum-Regular.woff")
      format("woff");
}
@font-face {
  font-family: "Vanda";
  font-style: normal;
  font-weight: 500;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/vanda/VandaFanum-Medium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/vanda/VandaFanum-Medium.woff")
      format("woff");
}
@font-face {
  font-family: "Vanda";
  font-style: normal;
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/vanda/VandaFanum-Light.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/vanda/VandaFanum-Light.woff")
      format("woff");
}
/*---------------- Progy Font */
@font-face {
  font-family: "iSans";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/progy/iSans.ttf")
    format("truetype");
}
/*---------------- Sarbazy */
@font-face {
  font-family: "BoldTori";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/progy/Sarbaz.ttf")
    format("truetype");
}
/*---------------- Kalame */
@font-face {
  font-family: "Kalame";
  font-style: normal;
  font-weight: 900;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/kalame/Kalameh(FaNum)-Black.ttf")
      format("truetype"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/kalame/KalamehWeb(FaNum)-Black.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/kalame/KalamehWeb(FaNum)-Black.woff2")
      format("woff2");
}
/*---------------- Kalame */
@font-face {
  font-family: "Kalame";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/kalame/Kalameh(FaNum)-Black.ttf")
      format("truetype"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/kalame/KalamehWeb(FaNum)-Black.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/kalame/KalamehWeb(FaNum)-Black.woff2")
      format("woff2");
}
@font-face {
  font-family: "Kalame";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/kalame/Kalameh(FaNum)-Regular.ttf")
      format("truetype"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/kalame/KalamehWeb(FaNum)-Regular.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/kalame/KalamehWeb(FaNum)-Regular.woff2")
      format("woff2");
}
@font-face {
  font-family: "Kalame";
  font-style: normal;
  font-weight: 100;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/kalame/Kalameh(FaNum)-Thin.ttf")
      format("truetype"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/kalame/KalamehWeb(FaNum)-Thin.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/kalame/KalamehWeb(FaNum)-Thin.woff2")
      format("woff2");
}
@font-face {
  font-family: "Kalame";
  font-style: normal;
  font-weight: Bold;
  src: url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/kalame/Kalameh(FaNum)-Bold.ttf")
      format("truetype"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/kalame/KalamehWeb(FaNum)-Bold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/progyaghouti/irfont/kalame/KalamehWeb(FaNum)-Bold.woff2")
      format("woff2");
}
